body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  overflow:hidden;
}
#u2047_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2047_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:hidden;
}
#u2048_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2048_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:715px;
  overflow:hidden;
}
#u2049_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:715px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2049_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:1069px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:0px;
  top:44px;
  width:426px;
  height:1069px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:526px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:94px;
  width:426px;
  height:1px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D0D0D;
}
#u2054 {
  position:absolute;
  left:61px;
  top:63px;
  width:34px;
  height:16px;
  color:#0D0D0D;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2056 {
  position:absolute;
  left:181px;
  top:63px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2058 {
  position:absolute;
  left:320px;
  top:63px;
  width:33px;
  height:16px;
  color:#6B6B6B;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:90px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:162px;
  top:130px;
  width:91px;
  height:90px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:37px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2062 {
  position:absolute;
  left:191px;
  top:245px;
  width:39px;
  height:16px;
  color:#000000;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2064 {
  position:absolute;
  left:34px;
  top:278px;
  width:15px;
  height:15px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u2066 {
  position:absolute;
  left:59px;
  top:278px;
  width:321px;
  height:15px;
  font-size:12px;
  color:#515151;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2069 {
  position:absolute;
  left:167px;
  top:310px;
  width:15px;
  height:15px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2071 {
  position:absolute;
  left:184px;
  top:310px;
  width:15px;
  height:15px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2073 {
  position:absolute;
  left:201px;
  top:310px;
  width:15px;
  height:15px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2075 {
  position:absolute;
  left:217px;
  top:310px;
  width:15px;
  height:15px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2077 {
  position:absolute;
  left:234px;
  top:310px;
  width:15px;
  height:15px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u2079 {
  position:absolute;
  left:185px;
  top:336px;
  width:43px;
  height:16px;
  color:#515151;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:25px;
  top:394px;
  width:146px;
  height:40px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:234px;
  top:393px;
  width:146px;
  height:41px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2085 {
  position:absolute;
  left:45px;
  top:402px;
  width:25px;
  height:25px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2087 {
  position:absolute;
  left:254px;
  top:400px;
  width:25px;
  height:25px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:84px;
}
#u2089 {
  position:absolute;
  left:25px;
  top:470px;
  width:365px;
  height:84px;
  font-size:11px;
  color:#666666;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2091 {
  position:absolute;
  left:25px;
  top:554px;
  width:71px;
  height:16px;
  color:#000000;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:25px;
  top:586px;
  width:365px;
  height:37px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:10px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095 {
  position:absolute;
  left:34px;
  top:592px;
  width:346px;
  height:25px;
}
#u2095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2096 {
  position:absolute;
  left:34px;
  top:595px;
  width:20px;
  height:20px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:130px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:685px;
  width:136px;
  height:130px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:57px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2100 {
  position:absolute;
  left:277px;
  top:685px;
  width:137px;
  height:130px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2102 {
  position:absolute;
  left:138px;
  top:685px;
  width:137px;
  height:130px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2104 {
  position:absolute;
  left:138px;
  top:816px;
  width:137px;
  height:130px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:816px;
  width:137px;
  height:130px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2108 {
  position:absolute;
  left:277px;
  top:816px;
  width:137px;
  height:130px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2110 {
  position:absolute;
  left:119px;
  top:787px;
  width:15px;
  height:15px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2112 {
  position:absolute;
  left:119px;
  top:923px;
  width:15px;
  height:15px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2114 {
  position:absolute;
  left:255px;
  top:787px;
  width:15px;
  height:15px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2116 {
  position:absolute;
  left:383px;
  top:787px;
  width:15px;
  height:15px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:130px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:948px;
  width:136px;
  height:130px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:57px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2120 {
  position:absolute;
  left:277px;
  top:948px;
  width:137px;
  height:130px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u2122 {
  position:absolute;
  left:138px;
  top:948px;
  width:137px;
  height:130px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2124 {
  position:absolute;
  left:119px;
  top:1050px;
  width:15px;
  height:15px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2126 {
  position:absolute;
  left:255px;
  top:1050px;
  width:15px;
  height:15px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2128 {
  position:absolute;
  left:383px;
  top:1050px;
  width:15px;
  height:15px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
}
#u2130 {
  position:absolute;
  left:25px;
  top:643px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#797979;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u2132 {
  position:absolute;
  left:88px;
  top:643px;
  width:48px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2134 {
  position:absolute;
  left:138px;
  top:644px;
  width:15px;
  height:15px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u2136 {
  position:absolute;
  left:365px;
  top:643px;
  width:23px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:2px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:675px;
  width:426px;
  height:1px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:234px;
  top:393px;
  width:154px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 4px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px 4px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px 4px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:50px;
  opacity:0.85;
}
#u2142 {
  position:absolute;
  left:2px;
  top:17px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u2143 {
  position:absolute;
  left:145px;
  top:14px;
  width:122px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2145 {
  position:absolute;
  left:-1px;
  top:4px;
  width:66px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:14px;
  width:30px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2147 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u2148 {
  position:absolute;
  left:0px;
  top:670px;
  width:411px;
  height:51px;
  opacity:0.9;
}
#u2149 {
  position:absolute;
  left:2px;
  top:18px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2150 {
  position:absolute;
  left:110px;
  top:680px;
  width:25px;
  height:25px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2152 {
  position:absolute;
  left:194px;
  top:680px;
  width:25px;
  height:25px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2154 {
  position:absolute;
  left:20px;
  top:680px;
  width:25px;
  height:25px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156 {
  position:absolute;
  left:76px;
  top:670px;
  width:85px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2157 {
  position:absolute;
  left:168px;
  top:670px;
  width:80px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2158 {
  position:absolute;
  left:0px;
  top:666px;
  width:76px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2159 {
  position:absolute;
  left:278px;
  top:680px;
  width:25px;
  height:25px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:258px;
  top:668px;
  width:71px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2162 {
  position:absolute;
  left:362px;
  top:680px;
  width:25px;
  height:25px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164 {
  position:absolute;
  left:345px;
  top:670px;
  width:66px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
