body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  overflow:hidden;
}
#u2034_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2035 {
  position:absolute;
  left:193px;
  top:59px;
  width:25px;
  height:25px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:hidden;
}
#u2037_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2037_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:869px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:0px;
  top:44px;
  width:415px;
  height:869px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:426px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2040 {
  position:absolute;
  left:11px;
  top:62px;
  width:73px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF3300;
}
#u2042 {
  position:absolute;
  left:191px;
  top:86px;
  width:35px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF3300;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2044 {
  position:absolute;
  left:173px;
  top:129px;
  width:71px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:2px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:259px;
  width:415px;
  height:1px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:339px;
  width:414px;
  height:1px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u2050 {
  position:absolute;
  left:138px;
  top:182px;
  width:1px;
  height:160px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u2052 {
  position:absolute;
  left:277px;
  top:182px;
  width:1px;
  height:160px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2054 {
  position:absolute;
  left:57px;
  top:191px;
  width:17px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2056 {
  position:absolute;
  left:46px;
  top:225px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2058 {
  position:absolute;
  left:191px;
  top:191px;
  width:33px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2060 {
  position:absolute;
  left:186px;
  top:225px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2062 {
  position:absolute;
  left:334px;
  top:191px;
  width:33px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2064 {
  position:absolute;
  left:330px;
  top:225px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2066 {
  position:absolute;
  left:343px;
  top:274px;
  width:17px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2068 {
  position:absolute;
  left:332px;
  top:308px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2070 {
  position:absolute;
  left:196px;
  top:274px;
  width:17px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2072 {
  position:absolute;
  left:186px;
  top:308px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2074 {
  position:absolute;
  left:51px;
  top:274px;
  width:33px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF3300;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2076 {
  position:absolute;
  left:47px;
  top:308px;
  width:43px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:0px;
  top:340px;
  width:414px;
  height:14px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:-1px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2080 {
  position:absolute;
  left:0px;
  top:401px;
  width:414px;
  height:1px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2082 {
  position:absolute;
  left:19px;
  top:370px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:449px;
  width:414px;
  height:1px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2086 {
  position:absolute;
  left:19px;
  top:416px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u2088 {
  position:absolute;
  left:384px;
  top:369px;
  width:15px;
  height:20px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u2090 {
  position:absolute;
  left:384px;
  top:415px;
  width:15px;
  height:20px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092 {
  position:absolute;
  left:149px;
  top:182px;
  width:118px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2093 {
  position:absolute;
  left:337px;
  top:371px;
  width:35px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2095 {
  position:absolute;
  left:352px;
  top:419px;
  width:15px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2097 {
  position:absolute;
  left:-6px;
  top:353px;
  width:421px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:67px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:0px;
  top:506px;
  width:138px;
  height:67px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:26px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:67px;
  background:inherit;
  background-color:rgba(102, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:138px;
  top:506px;
  width:138px;
  height:67px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:26px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:67px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:276px;
  top:506px;
  width:138px;
  height:67px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:26px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:53px;
  top:514px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:47px;
  top:532px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u2108 {
  position:absolute;
  left:26px;
  top:549px;
  width:87px;
  height:16px;
  color:#FFFFFF;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:779px;
  width:414px;
  height:1px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2112 {
  position:absolute;
  left:176px;
  top:514px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2114 {
  position:absolute;
  left:185px;
  top:532px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u2116 {
  position:absolute;
  left:163px;
  top:549px;
  width:87px;
  height:16px;
  color:#FFFFFF;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2118 {
  position:absolute;
  left:314px;
  top:514px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2120 {
  position:absolute;
  left:323px;
  top:532px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u2122 {
  position:absolute;
  left:301px;
  top:549px;
  width:87px;
  height:16px;
  color:#FFFFFF;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u2124 {
  position:absolute;
  left:19px;
  top:477px;
  width:75px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2126 {
  position:absolute;
  left:0px;
  top:450px;
  width:414px;
  height:14px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:-1px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128 {
  position:absolute;
  left:0px;
  top:621px;
  width:414px;
  height:238px;
  overflow:hidden;
}
#u2128_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:2px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:188px;
  width:799px;
  height:1px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:103px;
}
#u2131p000 {
  position:absolute;
  left:-2px;
  top:92px;
  width:101px;
  height:2px;
  -webkit-transform:rotate(-11deg);
  -moz-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
#u2131p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:3px;
}
#u2131p001 {
  position:absolute;
  left:96px;
  top:86px;
  width:62px;
  height:2px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u2131p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:3px;
}
#u2131p002 {
  position:absolute;
  left:151px;
  top:67px;
  width:74px;
  height:16px;
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
#u2131p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u2131p003 {
  position:absolute;
  left:220px;
  top:58px;
  width:110px;
  height:4px;
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  transform:rotate(-10deg);
}
#u2131p003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:5px;
}
#u2131p004 {
  position:absolute;
  left:325px;
  top:56px;
  width:104px;
  height:3px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u2131p004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:4px;
}
#u2131p005 {
  position:absolute;
  left:423px;
  top:49px;
  width:71px;
  height:4px;
  -webkit-transform:rotate(-22deg);
  -moz-transform:rotate(-22deg);
  -ms-transform:rotate(-22deg);
  transform:rotate(-22deg);
}
#u2131p005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:5px;
}
#u2131p006 {
  position:absolute;
  left:488px;
  top:38px;
  width:146px;
  height:4px;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
}
#u2131p006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:5px;
}
#u2131p007 {
  position:absolute;
  left:630px;
  top:34px;
  width:93px;
  height:3px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u2131p007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:4px;
}
#u2131p008 {
  position:absolute;
  left:719px;
  top:22px;
  width:78px;
  height:3px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u2131p008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:4px;
}
#u2131p009 {
  position:absolute;
  left:792px;
  top:8px;
  width:72px;
  height:2px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u2131p009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:3px;
}
#u2131.compound {
  width:0px;
  height:0px;
}
#u2131 {
  position:absolute;
  left:16px;
  top:32px;
  width:861px;
  height:102px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:43px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2133 {
  position:absolute;
  left:14px;
  top:195px;
  width:9px;
  height:16px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  position:absolute;
  left:37px;
  top:195px;
  width:9px;
  height:16px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2137 {
  position:absolute;
  left:59px;
  top:195px;
  width:9px;
  height:16px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2139 {
  position:absolute;
  left:82px;
  top:195px;
  width:9px;
  height:16px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2141 {
  position:absolute;
  left:105px;
  top:195px;
  width:5px;
  height:16px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  position:absolute;
  left:126px;
  top:195px;
  width:5px;
  height:16px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:148px;
  top:195px;
  width:5px;
  height:16px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:2px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:102px;
  width:173px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2150 {
  position:absolute;
  left:91px;
  top:67px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2152 {
  position:absolute;
  left:77px;
  top:107px;
  width:31px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:2px;
}
#u2154 {
  position:absolute;
  left:115px;
  top:102px;
  width:173px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2156 {
  position:absolute;
  left:206px;
  top:67px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2158 {
  position:absolute;
  left:196px;
  top:107px;
  width:31px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:170px;
  top:195px;
  width:5px;
  height:16px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:192px;
  top:195px;
  width:16px;
  height:16px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:224px;
  top:195px;
  width:16px;
  height:16px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:257px;
  top:195px;
  width:16px;
  height:16px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:289px;
  top:195px;
  width:16px;
  height:16px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:321px;
  top:195px;
  width:16px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:354px;
  top:195px;
  width:16px;
  height:16px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:386px;
  top:195px;
  width:16px;
  height:16px;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:418px;
  top:195px;
  width:16px;
  height:16px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:450px;
  top:195px;
  width:16px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  position:absolute;
  left:482px;
  top:195px;
  width:16px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2181 {
  position:absolute;
  left:514px;
  top:195px;
  width:16px;
  height:16px;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:547px;
  top:195px;
  width:16px;
  height:16px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:579px;
  top:195px;
  width:16px;
  height:16px;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:611px;
  top:195px;
  width:16px;
  height:16px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2189 {
  position:absolute;
  left:644px;
  top:195px;
  width:16px;
  height:16px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  position:absolute;
  left:676px;
  top:195px;
  width:16px;
  height:16px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2193 {
  position:absolute;
  left:708px;
  top:195px;
  width:16px;
  height:16px;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2195 {
  position:absolute;
  left:740px;
  top:195px;
  width:16px;
  height:16px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2197 {
  position:absolute;
  left:772px;
  top:195px;
  width:16px;
  height:16px;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:805px;
  top:195px;
  width:16px;
  height:16px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:837px;
  top:195px;
  width:16px;
  height:16px;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:869px;
  top:195px;
  width:16px;
  height:16px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:2px;
}
#u2206 {
  position:absolute;
  left:210px;
  top:98px;
  width:173px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2208 {
  position:absolute;
  left:301px;
  top:63px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2210 {
  position:absolute;
  left:289px;
  top:74px;
  width:31px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2128_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2128_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2128_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2128_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211 {
  position:absolute;
  left:0px;
  top:842px;
  width:414px;
  height:52px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2213 {
  position:absolute;
  left:11px;
  top:645px;
  width:29px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u2215 {
  position:absolute;
  left:19px;
  top:589px;
  width:107px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2217 {
  position:absolute;
  left:374px;
  top:584px;
  width:25px;
  height:25px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2219 {
  position:absolute;
  left:1px;
  top:621px;
  width:414px;
  height:1px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2221 {
  position:absolute;
  left:1px;
  top:1039px;
  width:414px;
  height:1px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:1204px;
  width:414px;
  height:1px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2225 {
  position:absolute;
  left:1px;
  top:1276px;
  width:414px;
  height:1px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:2px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:180px;
  width:415px;
  height:1px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:-8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229 {
  position:absolute;
  left:85px;
  top:47px;
  width:240px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u2229_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2229_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u2231 {
  position:absolute;
  left:15px;
  top:28px;
  width:12px;
  height:10px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  position:absolute;
  left:18px;
  top:24px;
  width:6px;
  height:4px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(190, 190, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(190, 190, 190, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  position:absolute;
  left:18px;
  top:17px;
  width:6px;
  height:4px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2237 {
  position:absolute;
  left:18px;
  top:10px;
  width:6px;
  height:4px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u2239 {
  position:absolute;
  left:18px;
  top:3px;
  width:6px;
  height:4px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u2241 {
  position:absolute;
  left:40px;
  top:4px;
  width:180px;
  height:32px;
  font-size:13px;
  color:#666666;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2229_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2229_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u2243 {
  position:absolute;
  left:15px;
  top:3px;
  width:12px;
  height:10px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2245 {
  position:absolute;
  left:18px;
  top:13px;
  width:6px;
  height:4px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(190, 190, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(190, 190, 190, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2247 {
  position:absolute;
  left:18px;
  top:20px;
  width:6px;
  height:4px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:18px;
  top:27px;
  width:6px;
  height:4px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u2251 {
  position:absolute;
  left:18px;
  top:34px;
  width:6px;
  height:4px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u2253 {
  position:absolute;
  left:40px;
  top:4px;
  width:180px;
  height:32px;
  font-size:13px;
  color:#666666;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2229_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2229_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u2255 {
  position:absolute;
  left:40px;
  top:4px;
  width:180px;
  height:32px;
  font-size:13px;
  color:#666666;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2257 {
  position:absolute;
  left:9px;
  top:8px;
  width:24px;
  height:24px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u2259 {
  position:absolute;
  left:0px;
  top:667px;
  width:411px;
  height:50px;
  opacity:0.9;
}
#u2260 {
  position:absolute;
  left:2px;
  top:17px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2261 {
  position:absolute;
  left:195px;
  top:680px;
  width:25px;
  height:25px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2263 {
  position:absolute;
  left:59px;
  top:680px;
  width:25px;
  height:25px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2265 {
  position:absolute;
  left:329px;
  top:680px;
  width:25px;
  height:25px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267 {
  position:absolute;
  left:0px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2268 {
  position:absolute;
  left:144px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2269 {
  position:absolute;
  left:284px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
  background:-webkit-linear-gradient(330deg, rgba(3, 145, 253, 1) 0%, rgba(3, 145, 253, 1) 0%, rgba(170, 49, 94, 1) 29%, rgba(51, 51, 153, 1) 74%, rgba(55, 169, 191, 1) 100%, rgba(55, 169, 191, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(3, 145, 253, 1) 0%, rgba(3, 145, 253, 1) 0%, rgba(170, 49, 94, 1) 29%, rgba(51, 51, 153, 1) 74%, rgba(55, 169, 191, 1) 100%, rgba(55, 169, 191, 1) 100%);
  background:linear-gradient(120deg, rgba(3, 145, 253, 1) 0%, rgba(3, 145, 253, 1) 0%, rgba(170, 49, 94, 1) 29%, rgba(51, 51, 153, 1) 74%, rgba(55, 169, 191, 1) 100%, rgba(55, 169, 191, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:17px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2272 {
  position:absolute;
  left:29px;
  top:12px;
  width:30px;
  height:30px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2274 {
  position:absolute;
  left:255px;
  top:10px;
  width:30px;
  height:30px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:73px;
  top:16px;
  width:73px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2278 {
  position:absolute;
  left:299px;
  top:15px;
  width:73px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2280 {
  position:absolute;
  left:207px;
  top:-1px;
  width:207px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
