body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  overflow:hidden;
}
#u2245_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2245_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2246 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:hidden;
}
#u2246_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:717px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2247 {
  position:absolute;
  left:5px;
  top:191px;
  width:403px;
  height:198px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:91px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:5px;
  top:67px;
  width:120px;
  height:110px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:47px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2251 {
  position:absolute;
  left:50px;
  top:107px;
  width:30px;
  height:30px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2253 {
  position:absolute;
  left:189px;
  top:273px;
  width:45px;
  height:45px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  position:absolute;
  left:288px;
  top:67px;
  width:120px;
  height:110px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:47px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2257 {
  position:absolute;
  left:333px;
  top:107px;
  width:30px;
  height:30px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:146px;
  top:67px;
  width:120px;
  height:110px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:47px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2261 {
  position:absolute;
  left:191px;
  top:107px;
  width:30px;
  height:30px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2263 {
  position:absolute;
  left:13px;
  top:411px;
  width:33px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:448px;
  width:414px;
  height:1px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267 {
  position:absolute;
  left:63px;
  top:399px;
  width:325px;
  height:43px;
}
#u2267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:43px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2268 {
  position:absolute;
  left:5px;
  top:507px;
  width:414px;
  height:1px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2270 {
  position:absolute;
  left:13px;
  top:587px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2272 {
  position:absolute;
  left:0px;
  top:715px;
  width:414px;
  height:1px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2274 {
  position:absolute;
  left:275px;
  top:466px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2276 {
  position:absolute;
  left:322px;
  top:454px;
  width:62px;
  height:43px;
}
#u2276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2277 {
  position:absolute;
  left:389px;
  top:465px;
  width:19px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:927px;
  width:414px;
  height:1px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  position:absolute;
  left:12px;
  top:631px;
  width:106px;
  height:33px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:128px;
  top:631px;
  width:151px;
  height:33px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:12px;
  top:674px;
  width:106px;
  height:33px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2287 {
  position:absolute;
  left:289px;
  top:631px;
  width:119px;
  height:33px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2289 {
  position:absolute;
  left:13px;
  top:733px;
  width:97px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2291 {
  position:absolute;
  left:17px;
  top:769px;
  width:394px;
  height:126px;
}
#u2291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:126px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2292 {
  position:absolute;
  left:-6px;
  top:765px;
  width:414px;
  height:1px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2294 {
  position:absolute;
  left:378px;
  top:726px;
  width:30px;
  height:30px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2296 {
  position:absolute;
  left:12px;
  top:466px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2298 {
  position:absolute;
  left:141px;
  top:454px;
  width:62px;
  height:43px;
}
#u2298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2299 {
  position:absolute;
  left:184px;
  top:466px;
  width:37px;
  height:19px;
  font-size:16px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2301 {
  position:absolute;
  left:12px;
  top:526px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2303 {
  position:absolute;
  left:42px;
  top:523px;
  width:51px;
  height:26px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2305 {
  position:absolute;
  left:103px;
  top:529px;
  width:19px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2307 {
  position:absolute;
  left:152px;
  top:526px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2308 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2309 {
  position:absolute;
  left:182px;
  top:523px;
  width:51px;
  height:26px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2311 {
  position:absolute;
  left:243px;
  top:529px;
  width:19px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2313 {
  position:absolute;
  left:289px;
  top:526px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  position:absolute;
  left:319px;
  top:523px;
  width:51px;
  height:26px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:5px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2317 {
  position:absolute;
  left:380px;
  top:529px;
  width:19px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2319 {
  position:absolute;
  left:47px;
  top:524px;
  width:44px;
  height:25px;
}
#u2319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2320 {
  position:absolute;
  left:186px;
  top:524px;
  width:44px;
  height:25px;
}
#u2320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2321 {
  position:absolute;
  left:326px;
  top:523px;
  width:44px;
  height:25px;
}
#u2321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2322 {
  position:absolute;
  left:-6px;
  top:564px;
  width:414px;
  height:1px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:17px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px -4px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u2326 {
  position:absolute;
  left:0px;
  top:667px;
  width:411px;
  height:50px;
  opacity:0.9;
}
#u2327 {
  position:absolute;
  left:2px;
  top:17px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2328 {
  position:absolute;
  left:195px;
  top:680px;
  width:25px;
  height:25px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2330 {
  position:absolute;
  left:18px;
  top:62px;
  width:19px;
  height:19px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332 {
  position:absolute;
  left:9px;
  top:53px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2333 {
  position:absolute;
  left:59px;
  top:680px;
  width:25px;
  height:25px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2335 {
  position:absolute;
  left:329px;
  top:680px;
  width:25px;
  height:25px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337 {
  position:absolute;
  left:0px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2338 {
  position:absolute;
  left:142px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2339 {
  position:absolute;
  left:284px;
  top:667px;
  width:127px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2340 {
  position:absolute;
  left:166px;
  top:15px;
  width:81px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2342 {
  position:absolute;
  left:0px;
  top:50px;
  width:414px;
  height:1px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2344 {
  position:absolute;
  left:0px;
  top:625px;
  width:414px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2345 {
  position:absolute;
  left:2px;
  top:10px;
  width:410px;
  word-wrap:break-word;
}
