body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714 {
  position:absolute;
  left:16px;
  top:213px;
  width:292px;
  height:48px;
  overflow:hidden;
}
#u714_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:48px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u714_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u715 {
  position:absolute;
  left:20px;
  top:4px;
  width:1008px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  white-space:nowrap;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
  -webkit-box-shadow:10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
  box-shadow:10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
}
#u717 {
  position:absolute;
  left:16px;
  top:213px;
  width:13px;
  height:41px;
}
#u718 {
  position:absolute;
  left:2px;
  top:12px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
  -webkit-box-shadow:-10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
  box-shadow:-10px 0px 10px rgba(134, 134, 134, 0.349019607843137);
}
#u719 {
  position:absolute;
  left:296px;
  top:213px;
  width:12px;
  height:41px;
}
#u720 {
  position:absolute;
  left:2px;
  top:12px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:16px;
  top:244px;
  width:292px;
  height:17px;
}
#u722 {
  position:absolute;
  left:2px;
  top:0px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
